.portfolio-title-wrap{
    margin-top: 80px;
    margin-bottom: 68px;
}

.portfolio-cards{
    display: flex;
    justify-content: space-between;
    margin-bottom: 116px;
}

.portfolio-card-img{
    width: 70px;
    height: 70px;
    border: 1px solid #e72424;
    border-radius: 50%;
    overflow: auto;
    margin: auto;
    display: flex;
    margin-bottom: 30px;
}

.portfolio-card-img img{
    object-fit: cover;
    object-position: center;
    margin: auto;
}

.portfolio-card-content{
    /* 350*198 в макете */
    width: 350px;
    /* height: 198px; */
}

